html, body {
  overflow: auto; 
}

* {
  touch-action: manipulation;
}
* {
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 10px; 
  height: 100vh;
}

header {
  margin-bottom: 5px;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-bottom: 5px; 
}

.difficulty-buttons button {
  font-size: 1rem;
  padding: 8px 16px; 
}

.worksheet-container {
  flex: 1;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 10px; 
}

.board-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr)); 
  gap: 5px;
  justify-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  overflow-x: auto; 
}

.board-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.board-cell:hover {
  transform: scale(1.05);
}

.tira {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  height: 25px; 
  font-size: 0.85rem;
  margin-bottom: 4px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  
  flex-grow: 1;
  max-width: calc(100% / 20 * var(--length)); 
}

.tira:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .tira {
    height: 20px;
    max-width: calc(100% / 20 * var(--length));
  }
}

@media (max-width: 480px) {
  .tira {
    height: 18px;
    max-width: calc(100% / 20 * var(--length)); 
  }
}
