html, body {
  overflow: hidden;
}

* {
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  height: 100vh;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 5px;
  justify-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.board-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tira {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  height: 25px;
  font-size: 0.85rem;
  margin-bottom: 4px; /* Reducir espacio entre tiras */
  width: calc(6vw * var(--length));
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.tira:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Agregar una sombra al arrastrar */
}

.tira.is-dragging {
  opacity: 0.6;
  transform: scale(1.1); /* Escalar ligeramente para mostrar el arrastre */
}
@media (max-width: 768px) {
  .tira {
    height: 20px;
    width: calc(30px * var(--length));
  }
}

@media (max-width: 480px) {
  .tira {
    height: 18px;
    width: calc(25px * var(--length));
  }
}
