.tira {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  height: 25px;
  font-size: 0.85rem;
  margin-bottom: 6px;
  width: calc(25px * var(--length)); /* Ajustamos el ancho según la longitud */
}

.tira-container {
  display: flex;
  flex-direction: column; /* Apilar verticalmente */
  align-items: flex-start;
  gap: 6px; /* Espacio entre tiras */
}

@media (max-width: 768px) {
  .tira {
    height: 20px;
    font-size: 0.75rem;
    width: calc(20px * var(--length));
  }
}

@media (max-width: 480px) {
  .tira {
    height: 18px;
    font-size: 0.7rem;
    width: calc(18px * var(--length));
  }
}
