@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main-content {
    padding-top: 80px; 
  }
  
  @media (min-width: 640px) {
    .main-content {
      padding-top: 100px; 
    }
  }
  
  @media (min-width: 1024px) {
    .main-content {
      padding-top: 120px;
    }
  }
  .main-content {
    padding-bottom: 5rem; 
  }
  
  @media (max-width: 768px) {
    .main-content {
      padding-bottom: 7rem; 
    }
  }
  